body{
  font-family: Roboto;
  background: white;
  margin: 0;
  padding: 0;
}
.header{
  background: #1F2937;
  color: #eee;
  margin: 0;
  padding: 8px;
  padding-bottom: 105px;
}
ul{
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
}
.h1{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
a{
  text-decoration: none;
  color: #eee;
}
.sup-btn{
  background: #3882F6;
  color: #eee;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px 16px;
}
.img{
  width: 400px;
  height: 230px;
  background: grey;
}
.logo{
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  margin-bottom: 50px;
  padding: 0;
}

.bdy{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.img-desc{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.nav-bar{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* PART TWO CONENT */

.hero-txt{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 35px;
}

.div{
  height: 165px;
  width: 165px;
  border: 3px solid #3882f6;
  border-radius: 14px;
  margin-bottom: 8px;
}
li{
  display: block;
  max-width: 165px;
  text-align: center;
}
.ul2{
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.part3{
  background: #e5e7eb;
  height: 350px;
  margin-bottom: 50px;
}

.p2{
  width: 750px;
  margin: 0 auto;
  font-size: 36px ;
  color: #1f2937;
  font-weight: 300; 
  padding: 60px;
}

#p2{
  text-align: right;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
}

.cta{
  background: #3882f6;
  color: #eee;
  width: 950px;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 15px;
}
.btun{
  background: transparent;
  color: white;

  border: 3px solid white;
  border-radius: 10px;

  padding: 12px 35px;

  font-size: 18px;
  font-weight: bold;
}
.ctaa{
  font-size: 24px;
  font-weight: bold;
  margin-left: 135px;
  margin-bottom: 0;
}

.btnn{
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 18px;
  margin-top: 0;
}

.foot{
  background:#1F2937 ;
  text-align: center;
  color: white;
  margin-top: 50px;
  padding: 30px;
}